<template>
  <div>
    <b-jumbotron header="Jean Test" lead="Bootstrap v4 Components for Vue.js 2">
      <p>Test Domains</p>
    </b-jumbotron>
    <b-container class="bv-example-row">
      <b-row>
        <div>
          <b-form inline>
            <label class="sr-only" for="inline-form-input-name">Domain</label>
            <b-input
              id="inline-form-input-name"
              class="mb-2 mr-sm-2 mb-sm-0"
              placeholder="Domain"
              v-model="domainRequest"
              @keyup.enter="getDomain"
            ></b-input>
            <b-button variant="primary" @click="getDomain" :disabled="isDisabled">Find</b-button>
          </b-form>
        </div>
      </b-row>
      <br />
      <b-row>
        <div>
          <b-card bg-variant="success" text-variant="white" header="Response">
            <b-card-text>
              <pre>{{dataDomains}}</pre>
            </b-card-text>
          </b-card>
        </div>
      </b-row>
      <br /><hr/>
      <br />
      <b-row>
        <div>
          <label class="sr-only" for="inline-form-input-name">Server visited</label>
          <b-button variant="primary" @click="getServerVisited">Server visited</b-button>
        </div>
      </b-row>
      <br />
      <b-row>
        <div>
          <b-card bg-variant="info" text-variant="white" header="Domain visited">
            <b-card-text>
              <pre>{{serverVisited}}</pre>
            </b-card-text>
          </b-card>
        </div>
      </b-row>
      <br />
    </b-container>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      titulo: "Test MP - Jean",
      servers: ["server Manzana", "server Pera", "Bocadillo"],
      domainRequest: "",
      dataDomains: null,
      serverVisited: null
    };
  },
  methods: {
    getDomain() {
      this.dataDomains = "";
      var url = "http://localhost:8081/domain/" + this.domainRequest;
      //axios.get(url).then(response => (this.dataDomains = response.data));
      this.$http.get(url).then(result => {
        this.dataDomains = result.data;
      });
      this.domainRequest = "";
    },
    getServerVisited() {
      var url = "http://localhost:8081/server/visited";
      //axios.get(url).then(response => (this.serverVisited = response.data));
      this.$http.get(url).then(result => {
        this.serverVisited = result.data;
      });
    }
  },
  computed: {
    isDisabled: function() {
      return !this.domainRequest.trim().length > 0;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
