<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="https://www.google.com/url?sa=i&url=https%3A%2F%2Fhatchful.shopify.com%2F&psig=AOvVaw3_iIuIc86h-lw8Mvy6rwF-&ust=1583704167995000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMj64PeriegCFQAAAAAdAAAAABAO" type="image/x-icon" href="favicon.ico" />
    <title>Test MP</title>
</head>
<body>
    <div id="app">
        Domain for searching:
        <input type="text" v-model="domainRequest" @keyup.enter="getDomain" />
        <button @click="getDomain" :disabled='isDisabled'>Search</button>
        <br/><b>Data:</b>
        <pre>{{dataDomains}}</pre>   
        <br/>
        <button @click="getServerVisited">Server visited</button><br/>
        <pre>{{serverVisited}}</pre>
    </div>
        <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>